@font-face {
  font-family: "Helvetica LT Std";
  src: url("../fonts/htstd bold/HelveticaLTStd-Bold.woff2") format("woff2"),
    url("../fonts/htstd bold/HelveticaLTStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica LT Stdroman";
  src: url("../fonts/htstdroman/HelveticaLTStd-Roman.woff2") format("woff2"),
    url("../fonts/htstdroman/HelveticaLTStd-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import "mixins";
@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin: 0 auto;
}
header {
  @include fix;
}
.logo {
  margin: 50px 0;
  float: left;
}

nav {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 55px 0;
      a {
        text-decoration: none;
        color: $color;
        font-size: $fontsizenav;
        font-family: "Helvetica LT Std";

        &:hover {
          color: $color1;
        }
      }
    }
  }
}
span {
  font-family: "Helvetica LT Std";
  color: $color1;
  margin: 0 15px;
}
h1 {
  font-size: $fontsizeh1;
  font-family: "Helvetica LT Std";
}
.section-1 p {
  font-size: $fontssizep;
  font-family: "Helvetica LT Stdroman";
  margin: 48px 0;
}
.section-1 {
  padding: 100px;
  text-align: center;
}
.section-1 button {
  background-color: $colorbtn;
  color: $colorbtntext;
  padding: 15px 40px;
  border-radius: $borderradius;
  font-family: "Helvetica LT Std";
  font-size: $font-size-btn;
}
.section-2 h2 {
  font-family: "Helvetica LT Std";
  font-size: $font-size-h2;
  margin: 55px 0 45px 0;
}
.box {
  display: $displayi-block;
  text-align: center;
  margin-right: 23px;
  border: 1px solid $bordercolor;
}
.box img {
  width: 100%;
}
.box h3 {
  font-size: $font-sizeh3;
  font-family: "Helvetica LT Std";
  margin: 20px 0 15px 0;
}
.box p {
  color: $color2;
  font-style: italic;
  font-size: $font-size-box-p;
  margin-bottom: 15px;
}
.section-2 div:last-child {
  margin-right: 0;
}
.wrapper {
  background-color: $wrapperbg;
  margin: 100px 0 35px 0;
}
.content-left {
  width: 48%;
  float: left;
}
.content-left h4,
.content-right h4 {
  font-size: $font-size-cl;
  padding: 50px 0;
  font-weight: lighter;
}
.content-left p {
  font-size: $font-size-clp;
  line-height: 24px;
}
.content-left img {
  margin: 70px 10px 65px 0;
}
.bottom-content {
  @include fix;
}
.content-right {
  width: 48%;
  float: right;
}
.content-inside-2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
}
.content-inside-2 h5 {
  font-size: $font-size-h5;
  font-family: "Helvetica LT Std";
}
.content-inside-2 p {
  font-size: 13px;
  color: #ca1f1f;
  margin-top: 20px;
}
.content-inside-2 p span {
  font-size: 13px;
  font-family: none;
}
.content-inside {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
}
.content-right div:nth-child(3) {
  border-bottom: none;
  margin-top: 30px;
}
footer {
  @include fix;
  margin-bottom: 100px;
}
footer p {
  display: inline-block;
  font-size: 15px;
  font-family: "Helvetica LT Std";
  float: left;
}
footer p span {
  color: $colorcopyr;
  margin: 0;
}
footer ul {
  list-style: none;
  float: right;
  li {
    display: inline-block;
    a {
      @include addcolor;
      text-decoration: none;
      @include fontsize;
      @include fontfamily;
      &:hover {
        @include addhovercolor;
      }
    }
  }
}
